{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/control_alumnos.css' %}">
    <title>Registro alumnos</title>
</head>
<body>
    <main class="maestro-alumno">
        <section class="menu-opciones">
            <div class="imgContainer">
                <img class="Logo" src="{% static 'logo.jpg' %}" alt="">
            </div>
            <div class="opciones">
                <ul>
                    <a href="{% url 'control_demeritos' %}" style="text-decoration:none;">
                        <li class="item-menu">
                            <i class="ti ti-demerito"></i> Demeritos
                        </li>
                    </a>
                    <li class="item-menu activo">
                        <i class="ti ti-alumnos"></i> Alumnos
                    </li>
                    <a href="{% url 'dashboard_maestro' %}" style="text-decoration: none;">
                        <li class="item-menu">
                            <i class="ti ti-dashboard"></i> Control de demeritos
                        </li>
                    </a>
                </ul>
                <div class="cerrar-sesion-container">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btnCerrarSesion">cerrar sesión</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="registro-alumno">
            <div class="container-titulo-alumno">
                <h1 class="titulo-alumno">Registro de Alumnos</h1>
                <a href="{% url 'control_alumnos' %}" class="btn-regresar" aria-label="Volver">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                </a>
            </div>

            <form action="" id="formRegistroAlumno" data-url="{% url 'registro_alumnos' %}" data-redirect="{% url 'control_alumnos' %}">
                {% csrf_token %}
                <div class="registro-container-alumno">
                    <div class="registro-datos-alumno">
                        <div class="container-dato">
                            <label>Nombre:</label>
                            <input required class="input-dato" id="inputNombre" type="text" name="nombre">
                        </div>
                        <div class="container-dato">
                            <label>Apellido:</label>
                            <input required class="input-dato" id="inputApellido" type="text" name="apellido">
                        </div>
                        <div class="container-dato">
                            <label>Sexo:</label>
                            <div class="container-seleccion">
                                <div class="seleccion-sexo">
                                    <label>Masculino: </label>
                                    <input class="radio-sexo" id="inputMasculino" checked name="sexo" type="radio" value="M">
                                </div>
                                <div class="seleccion-sexo">
                                    <label>Femenino: </label>
                                    <input class="radio-sexo" id="inputFemenino" name="sexo" type="radio" value="F">
                                </div>             
                            </div>      
                        </div>
                        <div class="container-dato">
                            <label>NIE:</label>
                            <input required class="input-dato" type="text" name="nie" maxlength="8" id="inputNie" placeholder="00000000">
                        </div>
                        
                        <div class="container-dato">
                            <label>Grado:</label>
                            <select required class="input-dato" name="grado" id="inputGrado">
                                <option value="" disabled selected>Seleccione...</option>
                                {% for código, nombre_legible in grados_existentes %}
                                    <option value="{{ código }}">{{ nombre_legible }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="container-dato">
                            <label>Sección:</label>
                            <select required class="input-dato" name="seccion" id="inputSeccion" disabled>
                                <option value="" disabled selected>Seleccione grado primero...</option>
                            </select>
                        </div>

                        <div class="container-dato">
                            <label>Fecha de nacimiento:</label>
                            <input required class="input-dato" type="date" name="fecha_nac" id="inputFechaNac"> 
                        </div>  
                    </div>
                    <div class="container-botones-alumno">
                        <button type="submit" class="btnRegistrarAlumno">Guardar Alumno</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <script>
        window.seccionesPorGrado = JSON.parse('{{ secciones_json|safe }}');
    </script>
    <script src="{% static 'js/registrar_alumnos.js' %}"></script>
</body>
</html>