{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilos/dashboard.css' %}">
    <title>Registro maestros</title>
</head>
<body>
    <main class="directora-maestro">
        <section class="menu-opciones">
            <div class="imgContainer">
                    <img class="Logo" src="{% static 'logo.jpg' %}" alt="">
            </div>
           
            <div class="opciones">
                <ul>
                    <li class="item-menu activo">
                        <i class="ti ti-maestros"></i> Maestros
                    </li>
                    <a href="{% url 'grado_seccion_control' %}" style="text-decoration: none;">
                        <li class="item-menu">
                            <i class="ti ti-grado_seccion"></i> Control de Grados
                        </li>
                    </a>
                    <a href="{% url 'control_demerito_directora' %}" style="text-decoration: none;">
                        <li class="item-menu">
                            <i class="ti ti-control_demerito"></i> Control de Demeritos
                        </li>
                    </a>
                </ul>
                <div class="cerrar-sesion-container">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"class="btnCerrarSesion">cerrar sesión</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="registro-maestro">
                <div class="container-titulo-maestro">
                    <h1 class="titulo-maestro">Registro de Maestro</h1>
                    <a href="{% url 'control_maestro' %}" class="btn-regresar" aria-label="Volver">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                        </svg>
                    </a>
                </div>
                <form action="" id="formMaestro" data-url="{% url 'registro_maestro' %}" data-redirect="{% url 'control_maestro' %}">
                    {% csrf_token %}
                    <div class="registro-container-maestro">
                        <div class="registro-datos-maestro">
                            <div class="container-dato">
                                <label for="">Nombre:</label>
                                <input class="input-dato" type="text" name="nombre" required>
                            </div>
                            <div class="container-dato">
                                <label for="">Apellido:</label>
                                <input class="input-dato" type="text" name="apellido" required>
                            </div>
                            <div class="container-dato">
                                <label for="">Especialidad:</label>
                                <input class="input-dato" type="text" name="especialidad" required>
                            </div>
                            <div class="container-dato">
                                <label for="">Dui:</label>
                                <input class="input-dato" id="inputDui" type="text" name="dui" required maxlength="10" placeholder="00000000-0">
                                
                            </div>
                            <div class="container-dato">
                                <label for="">Teléfono:</label>
                                <input class="input-dato" type="text" id="inputTelefono" name="telefono" maxlength="9" placeholder="7000-0000" required>
    
                            </div>
                            <div class="container-dato">
                                <label for="">Fecha de nacimiento:</label>
                                <input class="input-dato" type="date" input="inputFechaNac" name="fecha_nac"> 
                            </div>
                            <div class="container-dato">
                                <label for="">Correo eletrónico</label>
                                <input  class="input-dato" type="email" name="correo" placeholder="ejemplo@gmail.com" required>
                            </div>  
                        </div>
                        <div class="container-botones-maestro">
                            <button type="submit" class="btnRegistrarMaestro">Guardar Maestro</button>
                        </div>
                    </div>
                </form>
                
        </section>
    </main>
    <script src="{% static 'js/registro_maestro.js' %}"></script>
</body>
</html>